:root {
  --first-color: #ffffff;
  --second-color: #000000;
  --bg-color: #06071b;
}
/**
  |============================
  | Global styles
  |============================
*/
body {
  font-family: "Inter";
  font-style: normal;
  color: var(--second-color);
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li {
  margin: 0;
  padding: 0;
}
img {
  display: block;
}
.link {
  text-decoration: none;
}

.list {
  list-style: none;
}
.conteiner {
  width: 1280px;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
}
.btn {
  width: 200px;
  height: 42px;

  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: var(--first-color);
  background-image: linear-gradient(90.03deg, #00c5eb -1.97%, #b544fe 89.43%);
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: 250ms linear;
}
/**
  |============================
  | header
  |============================
*/
.header {
  width: 100%;
  position: fixed;
  top: 15px;
  z-index: 10;

  background: linear-gradient(90.03deg, #00c5eb -1.97%, #b544fe 89.43%);
  backdrop-filter: blur(17.5px);
}
.header-conteiner {
  display: flex;
  align-items: center;
  padding: 15px 0;
}
.header-logo {
  margin-right: auto;
  font-weight: 400;
  font-size: 28px;
  line-height: 34px;
  color: var(--first-color);
  transition: color 250ms linear;
}
.header-logo:hover,
.header-logo:focus {
  color: #b544fe;
}
.nav-list {
  display: flex;
  gap: 40px;
}
.nav-link {
  padding: 15px 0;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: var(--first-color);
  transition: color 250ms linear;
}
.nav-link:hover,
.nav-link:focus {
  color: #00c5eb;
}
/**
  |============================
  | hero
  |============================
*/

.hero-conteiner {
  position: relative;
  padding-top: 243px;
  padding-bottom: 146px;
  display: flex;

  background-color: var(--bg-color);
}
.hero-title {
  margin-bottom: 12px;

  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  color: var(--first-color);
}
.hero-subtitle {
  margin-bottom: 28px;

  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
}
.hero-item {
  display: flex;
  align-items: center;
  gap: 4px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: var(--first-color);
}
.hero-arrow-svg {
}
.hero-item:not(:last-child) {
  margin-bottom: 14px;
}
.hero-item:last-child {
  margin-bottom: 62px;
}
.hero-img {
  position: absolute;
  top: 105px;
  right: 0px;
}
/* hero-svg */
.hero-svg-1 {
  position: absolute;
  top: 565px;
  left: 373px;
}
.hero-svg-2 {
  position: absolute;
  top: 432px;
  left: 339px;
}
.hero-svg-3 {
  position: absolute;
  top: 389px;
  left: 472px;
}
.hero-svg-4 {
  position: absolute;
  top: 287px;
  left: 517px;
}
.hero-svg-5 {
  position: absolute;
  top: 295px;
  left: 644px;
}
.hero-svg-6 {
  position: absolute;
  top: 227px;
  left: 685px;
}
.hero-svg-7 {
  position: absolute;
  top: 261px;
  left: 803px;
}
/**
  |============================
  | features
  |============================
*/

.features-conteiner {
  padding: 80px 150px;
}
.features-title {
  margin-bottom: 80px;

  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
}
.features-subtitle {
  margin-bottom: 56px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
}
.features-box {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.features-item:not(:last-child) {
  margin-bottom: 54px;
}
.features-lead {
  position: relative;
  margin-bottom: 13px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
}
.features-lead::before {
  content: "";
  position: absolute;
  left: -35px;
  top: -4px;
  display: block;
  width: 28px;
  height: 28px;

  background-image: url(../images/features/cristal.svg);
}
.features-text {
  width: 223px;

  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}

/**
  |============================
  | video
  |============================
*/
.video {
  background-color: var(--bg-color);
}
.video-conteiner {
  padding: 60px 0;
  display: flex;
  gap: 160px;
}
.video-title {
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: var(--first-color);
}
.video-text {
  margin-bottom: 40px;
  width: 479px;

  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: var(--first-color);
}
.video-list {
  display: flex;
  gap: 20px;
}
.video-item {
}
.social-link {
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;
  background-image: linear-gradient(90.03deg, #00c5eb -1.97%, #b544fe 89.43%);

  /* transition: background-color 250ms linear, border250ms linear,
    background-image 250ms linear; */
}
.social-link:hover {
  border: 1px solid #b544fe;
  background-color: var(--bg-color);
  background-image: none;
}
.social-svg {
  fill: var(--first-color);
  transition: all 2250ml linear;
}
.social-link:hover .social-svg {
  fill: var(--second-color);
  stroke: #00c5eb;
}

/**
  |============================
  | team
  |============================
*/

.team-conteiner {
  padding-top: 80px;
}
.team-title {
  margin-bottom: 80px;

  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
}
.team-subtitle {
  margin-bottom: 56px;
  width: 886px;
  margin-left: auto;
  margin-right: auto;

  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
}
.team-list {
  display: flex;
  gap: 30px;
}
.team-item {
  width: 288px;
  height: 364px;
  padding: 12px;

  background-color: #06071b;
  border-radius: 15px;
}
.team-item:nth-child(1) {
  background-image: linear-gradient(312.87deg, #4389a2 -0.2%, #5c258d 112.66%);
  backdrop-filter: blur(17.5px);
}
.team-item:nth-child(2) {
  background-image: linear-gradient(
    105.09deg,
    #4389a2 -13.66%,
    #5c258d 104.34%
  );
  backdrop-filter: blur(17.5px);
}
.team-item:nth-child(3) {
  background-image: linear-gradient(176.56deg, #4389a2 4.33%, #5c258d 116.56%);
  backdrop-filter: blur(17.5px);
}
.team-item:nth-child(4) {
  background-image: linear-gradient(313.81deg, #4389a2 -7.83%, #5c258d 83.61%);
  backdrop-filter: blur(17.5px);
}
.team-img {
  margin-bottom: 20px;
  overflow: hidden;

  border-radius: 10px;
}
.team-lead {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: var(--first-color);
}
.team-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: var(--first-color);
}
/* .app {
  padding: 20px;
} */
/**
  |============================
  | customers
  |============================
*/

.customers-conteiner {
  padding: 80px;
}
.customers-title {
  margin-bottom: 40px;

  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: var(--second-color);
  text-align: center;
}
.slider-img {
  margin-bottom: 20px;
  margin-right: auto;
  margin-left: auto;
  border-radius: 50%;
  overflow: hidden;
}
.customers-name {
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: var(--second-color);
}
.customers-post {
  margin-bottom: 40px;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: var(--second-color);
}
.customers-text {
  margin-bottom: 20px;

  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: var(--second-color);
}
/* slider */
.slick-dots li:not(:last-child) {
  margin-right: 10px;
}
.slick-dots li button:before {
  content: "";
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-image: linear-gradient(90.03deg, #00c5eb -1.97%, #b544fe 89.43%);
  transition: opacity 250ms linear;
}
/* slider */

/**
  |============================
  | contacts
  |============================
*/
.contacts {
  background-color: var(--bg-color);
}
.contacts-conteiner {
  padding: 80px 0;
}
.contacts-title {
  margin-bottom: 80px;

  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: var(--first-color);
}
.contacts-position {
  display: flex;
}
.form {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
.contacts-lead {
  margin-bottom: 20px;

  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: var(--first-color);
}
.contacts-text {
  width: 500px;
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: var(--first-color);
}
.contacts-list {
  display: flex;
  gap: 15px;
  margin-bottom: 20px;
}
.addres-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: var(--first-color);
}
.addres-item:first-child {
  margin-bottom: 12px;
}
.contacts-social-link {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;

  background-image: linear-gradient(90.03deg, #00c5eb -1.97%, #b544fe 89.43%);
  border-radius: 50%;
}
.contacts-social-link:hover {
  background-image: none;
  background-color: var(--bg-color);
  border: 1px solid #b544fe;
}
.contacts-social-svg {
  fill: var(--first-color);
}
.contacts-social-link:hover .contacts-social-svg {
  fill: var(--bg-color);
  stroke: #00c5eb;
}
.form-input {
  width: 288px;
  height: 40px;
  padding: 10px;
  margin-bottom: 20px;

  border: none;
  border-radius: 5px;
}
.form-input:first-child {
  margin-right: 30px;
}
.form-input::placeholder,
.form-texterea::placeholder {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #939eac;
}
.form-texterea {
  width: 608px;
  height: 162px;
  padding: 10px;
  margin-bottom: 20px;

  border-radius: 5px;

  resize: none;
}
.form-button {
  margin-left: auto;
}
/**
  |============================
  | footer
  |============================
*/
.footer {
  background-color: var(--bg-color);
  border-top: 1px solid #ffffff;
}
.footer-conteiner {
  padding: 22px 0;
}
.footer-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: var(--first-color);
}
/**
  |============================
  | modal window
  |============================
*/
.backdrop {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  overflow: auto;
  background-image: linear-gradient(
    rgba(0, 196, 235, 0.5),
    rgba(179, 67, 254, 0.5)
  );
}
.modal {
  width: 568px;
  min-height: 936px;
  padding: 32px 40px;
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-color: rgb(0, 0, 0);
}
.close-btn {
  position: absolute;
  top: 26px;
  right: 26px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.close-svg {
  fill: #ffffff;
  transition: fill 250ms linear;
}
.close-btn:hover .close-svg,
.close-btn:focus .close-svg {
  fill: #00c5eb;
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.modal-position-top {
  display: flex;
  gap: 22px;
  margin-bottom: 32px;
}
.top-left-side {
  padding: 28px 40px;
  width: 233px;

  background-image: linear-gradient(90.03deg, #00c5eb -1.97%, #b544fe 89.43%);
  border-radius: 6px;
}
.top-right-side {
  padding: 28px 22px;
  width: 233px;
  background: black;
  border: 2px solid #b544fe;
  /* border-image: linear-gradient(to right, #00c5eb, #b544fe) 10%; */
  border-radius: 6px 6px 6px 6px;
}
.modal-title {
  margin-bottom: 28px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: var(--first-color);
  text-align: center;
}
.file-download-link {
  width: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.file-download-svg {
  margin-bottom: 20px;
}
.modal-subtitle {
  margin-bottom: 20px;

  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: var(--first-color);
}
.modal-position-top .modal-item {
  display: flex;
  align-items: baseline;

  gap: 4px;
  min-width: 161px;

  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: var(--first-color);
}
.modal-item:not(:last-child) {
  margin-bottom: 14px;
}
.modal-text {
  margin-bottom: 32px;

  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: var(--first-color);
}
.modal-position-bottom {
  display: flex;
  border-radius: 6px;
  margin-bottom: 32px;
}
.bottom-left-side {
  width: 244px;
  height: 236px;
  padding: 20px;

  background: black;
  border: 2px solid #00c5eb;
  /* border-image: linear-gradient(to right, #00c5eb, #b544fe) 1%; */
  border-radius: 6px 0 0 6px;
}
.bottom-right-side {
  width: 244px;
  height: 236px;
  padding: 20px;

  background: black;
  border: 2px solid #b544fe;
  /* border-image: linear-gradient(to right, #00c5eb, #b544fe) 1%; */
  border-radius: 0 6px 6px 0;
}
.modal-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;

  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: var(--first-color);
  transition: background-image 5500ms linear,
    background-color 5500ms linear border 5500ms linear;
}
.btn:hover {
  color: #00c5eb;
  background-image: none;
  background-color: #000000;
  border: 1px solid #00c5eb;
}
.modal-position-bottom .modal-item {
  display: flex;
  gap: 8px;
  margin-bottom: 20px;

  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #1ab9fd;
}
.modal-position-bottom .modal-item .item:first-child {
  margin-bottom: 4px;
  color: var(--first-color);
}
